<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pnm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Portable Any Map Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>NetPBMImageDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pbm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Bit Map Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>NetPBMImageDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pgm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Gray Map Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>NetPBMImageDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Pixel Map Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>NetPBMImageDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pam</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Arbitrary Map Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>NetPBMImageDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>info.evansbros.omar.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Omar Evans. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Portable Any Map Image</string>
			<key>UTTypeIdentifier</key>
			<string>netpbm.pnm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://netpbm.sourceforge.net/doc/pnm.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pnm</string>
				</array>
				<key>public.mime-type</key>
				<string>image/x‑portable‑anymap</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Portable Bit Map Image</string>
			<key>UTTypeIdentifier</key>
			<string>netpbm.pbm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://netpbm.sourceforge.net/doc/pbm.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pbm</string>
				</array>
				<key>public.mime-type</key>
				<string>image/x‑portable‑bitmap</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Portable Gray Map Image</string>
			<key>UTTypeIdentifier</key>
			<string>netpbm.pgm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://netpbm.sourceforge.net/doc/pgm.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pgm</string>
				</array>
				<key>public.mime-type</key>
				<string>image/x‑portable‑graymap</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Portable Pixel Map Image</string>
			<key>UTTypeIdentifier</key>
			<string>netpbm.ppm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://netpbm.sourceforge.net/doc/ppm.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ppm</string>
				</array>
				<key>public.mime-type</key>
				<string>image/x‑portable‑pixmap</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Portable Arbitrary Map Image</string>
			<key>UTTypeIdentifier</key>
			<string>netpbm.pam</string>
			<key>UTTypeReferenceURL</key>
			<string>http://netpbm.sourceforge.net/doc/pam.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pam</string>
				</array>
				<key>public.mime-type</key>
				<string>image/x-portable-arbitrarymap</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
